@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



:root {
  --main-color: #3b82f6; /* Light mode main color */
  --secondary-color: #003f7dde; /* Light mode secondary color */
  --background-color: #f8f8f8; /* Light mode background color */
  --text-color: #1E293B; /* Light mode text color */
  --sidebar-bg: #ffffff; /* Light mode sidebar background */
  --sidebar-text: #3b82f6; /* Light mode sidebar text */
  --sidebar-icon-bg: #e7ecff; /* Light mode sidebar icon background */
  --table-header-bg: #fcfcfd; /* Light mode table header background */
  --table-border: #eaecf0; /* Light mode table border */
  --input-border: #d1d5db; /* Light mode input border */
  --input-focus: #3b82f6; /* Light mode input focus border */
  --button-bg: #003f7dde; /* Light mode button background */
  --button-hover: #3b82f6; /* Light mode button hover background */
  --status-active-bg: #ecfdf3; /* Light mode active status background */
  --status-active-text: #037847; /* Light mode active status text */
  --status-inactive-bg: #f2f4f7; /* Light mode inactive status background */
  --status-inactive-text: #364254; /* Light mode inactive status text */
}

.dark {
  --main-color: #1e40af; /* Dark mode main color */
  --secondary-color: #1e3a8a; /* Dark mode secondary color */
  --background-color: #1f2937; /* Dark mode background color */
  --text-color: #ffffff; /* Dark mode text color */
  --sidebar-bg: #273342; /* Dark mode sidebar background */
  --sidebar-text: #ffffff; /* Dark mode sidebar text */
  --sidebar-icon-bg: #374151; /* Dark mode sidebar icon background */
  --table-header-bg: #374151; /* Dark mode table header background */
  --table-border: #4b5563; /* Dark mode table border */
  --input-border: #4b5563; /* Dark mode input border */
  --input-focus: #3b82f6; /* Dark mode input focus border */
  --button-bg: #1e40af; /* Dark mode button background */
  --button-hover: #3b82f6; /* Dark mode button hover background */
  --status-active-bg: #1c4532; /* Dark mode active status background */
  --status-active-text: #34d399; /* Dark mode active status text */
  --status-inactive-bg: #374151; /* Dark mode inactive status background */
  --status-inactive-text: #9ca3af; /* Dark mode inactive status text */
}
